<!DOCTYPE html>
<html lang="pt-br">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="" height="100px">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    </head>
    <body>
        <header>
            <nav>
                <ul>   
                    <div class="card">
                        <div class="card-header" style="background-color: steelblue";>
                            API RBI - Versão Beta - By Subtil
                
                            {% if user.is_authenticated %}
                                <li> Usuário: {{user}} </li>
                            {% endif %}

                            {% if not user.is_authenticated %}
                                <li><a href="{% url 'register' %}" > Cadastre-se </a></li>
                                <li><a href="{% url 'login' %}">Login</a></li>
                            {% endif %}
                               
                        </div>
                    </div>                                         
                </ul>
            </nav>
        </header>

        
        <main>
            
            


            <form method="post" enctype="=multipart/form-data" height="100px" width="auto">
                {% csrf_token %}
                <table>
                    {{cadastroempresa_form.as_table}}
                </table>
    
                <input type="submit" value="Cadastrar" class="btn btn-primary">
            </form>
       </main>
    </body>



